.lead__caption {
    color: white;
    align-self: flex-start;
    margin-top: 8px;
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

@media all and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media all and (max-width: 767px) {
    .lead__caption {
        margin-left: 16px;
    }
}