.place {
    color: white;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 44px;
    font-size: 1px;
}

@media all and (max-width: 1279px) {
    .place {
        grid-column-gap: 32px;
    }
}
@media all and (max-width: 1023x) {
    .place {
        grid-column-gap: 28px;
    }
}

@media all and (max-width: 767px) {
    .place {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 29px;
    }
}