.place__url-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0px 0px 12px;
}

@media all and (max-width: 1279) {
    .place__url-heading {
        line-height: 12px;
    }
}