.cover__content {
    width: 1184px;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    background-image: url(../../../images/do_baykala.png);
    background-size: cover;
    
}
.cover__content::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: 5;
}

.cover__content:hover::before {
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}


@media screen and (max-width: 1184px) {
    .cover__content {
        width: 100%;
        min-height: calc(100vw / 1.6);
    }
}