.cover__content {
    width: 1184;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    background-color: #2A2C2F;
    background: rgba(42, 44, 47, 0.3);
    /*background: transparent;*/
}

.cover__content:hover {
    background: rgba(42, 44, 47, 0.8);
    transition: background 0.5s ease-in-out;
}


@media screen and (max-width: 1184px) {
    .cover__content {
        width: 100%;
        height: calc(100vw / 1.6);
    }
}