.intro__title {
    font-size: 54px;
    font-weight: 900;
    margin: 0px;
    line-height: 58px;
}

@media all and (max-width: 767px) {
    .intro__title {
        line-height: 35px;
        font-size: 32px;
    }
}